/* color variables */
:root {
    /* dark mode colors */
    --dm-site-background: #0F172A;
    --dm-terminal-background: #1E293B;
    --dm-terminal-border: #334155;
    --dm-terminal-text: #F8FAFC;

    --dm-terminal-fizz-background: #A855F7;
    --dm-terminal-buzz-background: #F59E0B;
    --dm-terminal-fizzbuzz-background: #10B981;

    --dm-fizz-btn-background: #2E1065;
    --dm-fizz-btn-border: #A855F7;
    --dm-fizz-btn-text: #F5F3FF;

    --dm-buzz-btn-background: #451A03;
    --dm-buzz-btn-border: #F59E0B;
    --dm-buzz-btn-text: #FFFBEB;

    --dm-fizzbuzz-btn-background: #064E3B;
    --dm-fizzbuzz-btn-border: #10B981;
    --dm-fizzbuzz-btn-text: #ECFDF5;

    /* light mode colors */
    --lm-site-background: #F1F5F9;
    --lm-terminal-background: #FFFFFF;
    --lm-terminal-border: #E2E8F0;
    --lm-terminal-text: #1E293B;

    --lm-terminal-fizz-background: #7C3AED;
    --lm-terminal-buzz-background: #D97706;
    --lm-terminal-fizzbuzz-background: #059669;

    --lm-fizz-btn-background: #EDE9FE;
    --lm-fizz-btn-border: #7C3AED;
    --lm-fizz-btn-text: #5B21B6;

    --lm-buzz-btn-background: #FFFBEB;
    --lm-buzz-btn-border: #D97706;
    --lm-buzz-btn-text: #92400E;

    --lm-fizzbuzz-btn-background: #ECFDF5;
    --lm-fizzbuzz-btn-border: #059669;
    --lm-fizzbuzz-btn-text: #065F46;
}


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', 'Fira Code', 'Cascadia Code', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dm-site-background);
    justify-content: space-evenly;
    align-items: center;
}


/* reusable utilities */
.btn {
    width: 200px;
    height: 75px;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.01);
}


/* terminal (output section) */
.output-section {
    height: 400px;
    width: 600px;
    background-color: var(--dm-terminal-background);
    border: 2px solid var(--dm-terminal-border);
}

/* ---- TODO : style the inside of the terminal ---- */


/* buttons sections (input section) */
.input-section {
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fizz-btn {
    background-color: var(--dm-fizz-btn-background);
    border: 1px solid var(--dm-fizz-btn-border);
    color: var(--dm-fizz-btn-text)
}

.buzz-btn {
    background-color: var(--dm-buzz-btn-background);
    border: 1px solid var(--dm-buzz-btn-border);
    color: var(--dm-buzz-btn-text);
}

.fizzbuzz-btn {
    background-color: var(--dm-fizzbuzz-btn-background);
    border: 1px solid var(--dm-fizzbuzz-btn-border);
    color: var(--dm-fizzbuzz-btn-text);
}